.window-title {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}
