@import 'https://www.nerdfonts.com/assets/css/webfont.css';


@font-face {
  font-family: "CaskaydiaMonoNerdFont Locally";
  src: url("./fonts/CaskaydiaMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-size: 12px;
  --icon-size: 12px;
  --text-color: rgba(255 255 255 / 95%);
  --icon-color: rgba(115 130 175 / 95%);
  --background-color: black
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left{
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

/* .center {
  justify-self: center;
} */

#root {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "CaskaydiaMonoNerdFont Locally", ui-monospace, monospace;
  font-size: var(--text-size);
  overflow: hidden;
}

i {
  color: var(--icon-color);
  font-size: var(--icon-size);
  margin-right: 7px;
}

div, span, p {
  cursor: default;
  user-select: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.template {
  display: flex;
  align-items: center;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery,
.weather
{
  margin-right: 20px;
}
.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.cpu .high-usage {
  color: #900029;
}

.launcher{
  margin-right: 10px;
  cursor: pointer;
}